<div class="row g-5 mb-5">
    <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">Experience</h3>
        {% for item in site.data.experience.list %}
            <div class="row g-5 mb-5">
                <div class="col-md-2">
                    <h4>{{ item.name }}</h4>
                </div>
                <div class="col-md-10">
                    <p style="margin-bottom : 0;"><b>기간</b> : {{ item.range }}</p>
                    {%- if item.department -%}<p style="margin-bottom : 0;"><b>부서</b> : {{ item.department }}</p>{%- endif -%}
                    {%- if item.description -%}<p style="margin-bottom : 0;"><b>활동</b> : {{ item.description }}</p>{%- endif -%}
                    {%- if item.position -%}<p style="margin-bottom : 0;"><b>직급</b> : {{ item.position }}</p>{%- endif -%}
                    {%- if item.work -%}<p style="margin-bottom : 0;"><b>업무</b> : {{ item.work }}</p>{%- endif -%}
                </div>
            </div>
        {% endfor %}
    </div>
</div>