<div class="row g-5 mb-5">
    <div class="col-md-5" style="display: flex; align-items: baseline;">
        <h4>{{ include.item.name }}</h4>
    </div>
    <p style="margin-top: 5px;">
        {%- if include.item.link -%}
            <a href="{{ include.item.link }}">[ 프로젝트 상세 ]</a>
        {%- endif -%}
        {%- if include.item.github -%}
            <a href="{{ include.item.github }}">[ Github ]</a>
        {%- endif -%}
    </p>
    <div class="col-md-10" style="margin-top: 10px;">
        {%- if include.item.quote -%}
        <p class="fw-bold">{{ include.item.quote }}</p>
        {%- endif -%}
        {{ include.item.description | strip | markdownify }}
    </div>
</div>