<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko' }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <!-- header -->
        {% include header.html %}
        <!-- 자기소개 -->
        {% include aboutme.html %}
        <!-- 경험 -->
        {% include experience.html %}
        <!-- 주요 성과 - 퍼플아이오  -->
        {% include achievement_purpleio.html %}
        <!-- 주요 성과 - 위메프  -->
        {% include achievement_wmp.html %}
        <!-- 주요 성과 - 프레시코드  -->
        {% include achievement_freshcode.html %}
        <!-- 주요 성과 - 넥스파시스템 -->
        {% include achievement_nexpa.html %}
        <!-- 주요 성과 - 외 -->
        {% include achievement_etc.html %}
        <!-- 기술 스택 -->
        {% include skills.html %}
        <!-- 주소록 -->
        {% include contact.html %}
        <!-- 업데이트 내역 -->
        {% include update.html %}
        <!-- footer -->
        {% include footer.html %}
    </div>
  </body>
</html>
